<div class="home-page">
  <h1 class='sr-only'>The Bridge Billiards</h1>
  <app-header></app-header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <navigation></navigation>
      <div class="row jumbo-row">
        <div class="col-12 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 text-center">
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1511244421/Tagline_otudxf.png" class='img-fluid'></img>
        </div>
        <div class="col-12 col-md-6 col-lg-5 col-xl-5 text-center mt-5">
          <h2 class='sr-only'>Venue Details</h2>
          <a ui-sref="app.venue" id='venue-btn' class='btn btn-lg btn-secondary ABEAKRG text-white info-button mt-5 mt-sm-4 mt-md-5'>Venue Details</a>
        </div><!--End of col-xs-12-->
      </div><!--End of row-->
    </div><!--End of container-->
  </div><!--End of jumbotron-->
  <div class="container">
    <h2 class='sr-only'>Private Parties</h2>
    <div class="row mt-4">
      <div class="col-12 text-center">
          <div class="title-line-container">
            <svg height="10" width="30">
              <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(40,109,168);stroke-width:10" />
            </svg>
          </div>
          
          <span class='font-24 carbon zaffre'>Private Parties</span>
          
          <div class="title-line-container">
            <svg height="10" width="30">
              <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(40,109,168);stroke-width:10" />
            </svg>
          </div>
        </div><!--End of col-xs-12-->
      <div class="col-12">
          <p class='salmon h4 mt-4 mb-3'>Trying to find the right place for your next event</p>
          <h3 class='h5 cyan'>Our private room is great for</h3>
      </div>
      <div class="col-12 col-sm-3">
        <div class="text-center">
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1511203900/teamwork_jot2st.png" class='img-fluid image-mh mb-3 '></img>
          <h4 class='h6'>business team building</h4>
        </div><!--text-center-->
      </div><!--col-12-->
      <div class="col-12 col-sm-3">
        <div class="mb-3 text-center">
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1511203731/private-parties_e8d8fk.png" class='img-fluid image-mh mb-3 '></img>
          <h4 class='h6'>private parties and receptions</h4>
        </div><!--text-center-->
      </div><!--col-12-->
      <div class="col-12 col-sm-3">
        <div class="mb-3 text-center">
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1511204140/business-presentation_vzfe6x.png" class='img-fluid image-mh mb-3 '></img>
          <h4 class='h6'>business presentations</h4>
        </div><!--text-center-->
      </div><!--col-12-->
      <div class="col-12 col-sm-3">
        <div class="mb-3 text-center">
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1511204446/hosting-clients_v8q47y.png" class='img-fluid image-mh mb-3 '></img>
          <h4 class='h6'>hosting clients and more</h4>
        </div><!--text-center-->
      </div><!--col-12-->
      <div class='col-12 text-right mb-3'>
        <a ui-sref="app.parties" id='parties-btn' class='btn btn-secondary btn-lg ABEAKRG mt-5 info-button cyan'>MORE INFO</a>
      </div><!--End of col-12-->
      </div><!--End of row-->
    </div><!--End of row-->
  </div><!--End of container-->
  <div class="divider background-salmon"></div>
  <div class="container-fluid leagues-container pb-3">
    <h2 class='sr-only'>Leagues</h2>
    <div class="row">
      <div class="col-12 text-center mt-4 mb-3">
          <div class="title-line-container">
            <svg height="10" width="30">
              <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(67,132,150);stroke-width:10" />
            </svg>
          </div>
          
          <span class='font-24 carbon cyan'>Leagues</span>
          
          <div class="title-line-container">
            <svg height="10" width="30">
              <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(67,132,150);stroke-width:10" />
            </svg>
          </div>
      </div><!--End of col-xs-12-->
      <div class="col-12 col-sm-4">
        <div class="text-center">
          <h3 class='sr-only'>American Pool Players Assocation</h3>
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691448/APA-transparent_wc017f.png" class='img-fluid mb-3'></img>
        </div><!--End of text-center-->
      </div><!--End of col-12-->
      <div class="col-12 col-sm-4">
        <div class="text-center">
          <h3 class='sr-only'>United States of America Pool League</h3>
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691448/USAPL-transparent_efhaze.png" class='img-fluid mb-3'></img>
        </div><!--End of text-center-->
      </div><!--End of col-12-->
      <div class="col-12 col-sm-4">
        <div class="text-center">
          <h3 class='sr-only'>Billiards Congress of America</h3>
          <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691448/Billiard-congress-logo-transparent_ro8zlp.png" class='img-fluid mb-3'></img>
        </div><!--End of text-center-->
      </div><!--End of col-12-->
    </div><!--End of row-->
    <div class="row no-gutters">
      <div class="col-12 col-sm-8 col-lg-10 align-self-center">
        <p id='leaguesCTA' class='h5 zaffre text-center text-sm-right'>See what is happening in the leagues</p>
      </div><!-- End of col-12-->
      <div class='col-12 col-sm-4 col-lg-2 text-center mb-3 align-self-center'>
        <a ui-sref="app.leagues" id='leagues-btn' class='btn btn-secondary btn-lg ABEAKRG info-button salmon'>MORE INFO</a>
      </div><!--End of col-12-->
    </div><!--End of row-->
  </div><!--End of container-->
  <div class="divider background-zaffre"></div>
  <div class="container-fluid tournaments-container pb-3">
    <h2 class='sr-only'>Tournaments</h2>
    <div class="row">
      <div class="col-12 text-center mt-4 mb-3">
        <div class="title-line-container">
          <svg height="10" width="30">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(204,102,102);stroke-width:10" />
          </svg>
        </div><!--title-line-container-->
          
        <span class='font-24 carbon salmon'>Tournaments</span>
          
        <div class="title-line-container">
          <svg height="10" width="30">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(204,102,102);stroke-width:10" />
          </svg>
        </div><!--End of title-line-container-->
      </div><!--End of col-xs-12-->
    </div><!--End of row-->
    <div class="row">
      <div class="col-12 col-md-6" ng-repeat="post in $ctrl.posts |  filter:{category:'Tournament'} | limitTo:1">
        <div class="post-background mb-5 OEDropShadow" style="background:url({{post.photo_link}});">
          <div class="transbox">
            <h4 ng-bind="post.title"></h4>
            <p ng-bind="post.date | date:'mediumDate'"></p>
          </div><!--End of transbox-->
        </div><!--End of post-background-->
      </div><!--End of col-md-6-->  
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-6" ng-repeat="post in $ctrl.posts |  filter:{category:'Tournament'} | limitTo:5:1">
            <div class="post-background-sm mb-5 OEDropShadow" style="background:url({{post.photo_link}});background-position:center">
              <div class="transbox">
                <h4 ng-bind="post.title"></h4>
                <p ng-bind="post.date | date:'mediumDate'"></p>
              </div><!--End of transbox-->
            </div><!--End of post-background-->
          </div><!--End of col-md-6-->
        </div><!--End of row-->
      </div><!--End of col-md-6-->
    </div><!--End of row-->
  </div><!--End of container-->
  <div class="divider background-cyan"></div>
  <div class="container-fluid news-container pb-3">
    <h2 class='sr-only'>News & Promotions</h2>
    <div class="row">
      <div class="col-12 text-center mt-4 mb-3">
        <div class="title-line-container">
          <svg height="10" width="30">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(40,109,168);stroke-width:10" />
          </svg>
        </div><!--title-line-container-->
          
        <span class='font-24 carbon zaffre'>News & Promotions</span>
          
        <div class="title-line-container">
          <svg height="10" width="30">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(40,109,168);stroke-width:10" />
          </svg>
        </div><!--End of title-line-container-->
      </div><!--End of col-xs-12-->
    </div><!--End of row-->
    <div class="row">
      <div class="col-12 col-md-6" ng-repeat="post in $ctrl.posts |  filter:{category:'News'} | limitTo:1">
        <div class="post-background mb-5 OEDropShadow" style="background:url({{post.photo_link}});">
          <div class="transbox">
            <h4 ng-bind="post.title"></h4>
            <p ng-bind="post.date | date:'mediumDate'"></p>
          </div><!--End of transbox-->
        </div><!--End of post-background-->
      </div><!--End of col-md-6-->  
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-6" ng-repeat="post in $ctrl.posts |  filter:{category:'News'} | limitTo:5:1">
            <div class="post-background-sm mb-5 OEDropShadow" style="background:url({{post.photo_link}});background-position:center">
              <div class="transbox">
                <h4 ng-bind="post.title"></h4>
                <p ng-bind="post.date | date:'mediumDate'"></p>
              </div><!--End of transbox-->
            </div><!--End of post-background-->
          </div><!--End of col-md-6-->
        </div><!--End of row-->
      </div><!--End of col-md-6-->
    </div><!--End of row-->
  </div><!--End of container-->
</div><!--End of home-page-->
