<nav class="navbar navbar-light bg-dark navbar-mobile">
  <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691530/TheBridge_LogoExact_oyhebw.png" width="164" height="57" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-light" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="media">
        <img class="svg-icon" src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691501/mailing_w8nplw.svg" alt="email">
        <div class="media-body">
            <a class='mobile-email' href="mailto:info@thebridgebilliards.com">info@thebridgebilliards.com</a> 
        </div>
      </div>
      <div class="media">
        <img class="svg-icon" src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691501/phone-call_bjglxm.svg" alt="email">
        <div class="media-body">
            <p>(405)285-7070</p>   
        </div>
      </div> 
      <div class="media">
          <img class="svg-icon" src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691501/maps-and-flags_ofmu0x.svg" alt="location">
          <div class="media-body">
            <p>261 S Sante Fe Avenue</p>
            <p>Edmond, OK 73003</p>
          </div>
        </div>    
      <div class="social-mobile text-center">
          <p class='h6'>CONNECT WITH US</p>
          <ul class="nav justify-content-center nav-fill">
              <li class="nav-item zaffre">
                <a class="nav-link" href="#"><i class="fa fa-facebook fa-2x zaffre" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-twitter fa-2x zaffre" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-instagram fa-2x zaffre" aria-hidden="true"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-youtube-play fa-2x zaffre" aria-hidden="true"></i></a>
              </li>    
            </ul>
      </div><!--End of social-mobile-->
      <div class="page-links font-weight-bold">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a ui-sref="app.home" class="nav-link" href="#"><i class="fa fa-home zaffre" aria-hidden="true"></i> <span class="zaffre">Back to Home</span></a>
              </li>
              <li class="nav-item">
                <a ui-sref="app.venue" class="nav-link" href="#"><i class="fa fa-search zaffre" aria-hidden="true"></i> <span class="zaffre">Venue Details</span></a>
              </li>
              <li class="nav-item">
                <a ui-sref="app.parties" class="nav-link" href="#"><i class="fa fa-gift zaffre" aria-hidden="true"></i> <span class="zaffre">Private Parties</span></a>
              </li>
              <li class="nav-item">
                <a ui-sref="app.leagues" class="nav-link" href="#"><i class="fa fa-users zaffre" aria-hidden="true"></i> <span class="zaffre">Leagues</span></a>
              </li>
              <li class="nav-item">
                <a ui-sref="app.tournaments" class="nav-link" href="#"><i class="fa fa-trophy zaffre" aria-hidden="true"></i> <span class="zaffre">Tournaments</span></a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</nav>