<div class="row nav-lg-device no-gutters pt-1">
    <div class="col-12 col-lg-2 col-xl-3"></div>
    <div class="col-md-6 col-lg-5 col-xl-4">
        <a ui-sref="app.home"><img src="https://res.cloudinary.com/relentlessrawle/image/upload/v1510691123/TheBridge_LogoLarge_smcbc6.png" class='img-fluid float-right'></img></a>
    </div><!--End of col-sm-6-->
    <div class="col-md-6 col-lg-5 col-xl-5">
        <ul class='nav float-right'>
            <li class='nav-item'><u><a class='nav-link' ui-sref="app.venue">Venue Details</a></u></li>
            <li class='nav-item'><u><a class='nav-link' ui-sref="app.parties">Private Parties</a></u></li>
            <li class='nav-item'><u><a class='nav-link' ui-sref="app.leagues">Leagues</a></u></li>
            <li class='nav-item'><u><a class='nav-link' ui-sref="app.tournaments">Tournaments</a></u></li>
            <li class='nav-item'><a class='nav-link nav-link-social' href="https://www.facebook.com/TheBridgeBilliards/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class='nav-item'><a class='nav-link nav-link-social' href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class='nav-item'><a class='nav-link nav-link-social' href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class='nav-item'><a class='nav-link nav-link-social' href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li> 
        </ul>
    </div><!--End of col-sm-6-->
</div><!--End of row-->