<footer>
    <div class="container-fluid">
        <ul class="list-unstyled pt-3">
            <li><a class='text-white f6' ui-sref="app.news">NEWS</a></li>
            <li><a class='text-white f6' ui-sref="app.careers"><h2 class='d-none'>Careers</h2>CAREERS</a></li>
            <li><a class='text-white f6' ui-sref="app.login"><h2 class='d-none'>Login</h2>LOGIN</a></li>
        </ul>
        
        <div class="row text-white f6">
            <div class="col-sm-6 ml-1">
               <span>
                    &copy; {{::$ctrl.date | date:'yyyy'}}.
                    THE BRIDGE, LLC ALL RIGHTS RESERVED
                </span> 
            </div><!-- col-sm-6-->
            <div class="col-sm-5">
                <span class='float-right'>
                    Developed By: <a class='text-white f6' href="http://www.rawlejuglal.me">rawlejuglal.me</a>.
                </span>
            </div>
        </div><!--End of row -->
        
    </div>
</footer>